# 14. Using Unicode Only

In [6]:
import pandas as pd

def remove_normal_characters(text):
    s = text
    s_without = s.encode('ascii', 'ignore').decode("utf-8")
    s_only = s.strip(s_without)
    return s_only

df = pd.read_csv('Structured_DataFrame_Main_Categories.csv', index_col=0)
df['Item Description'] = df['Item Description'].apply(lambda d: remove_normal_characters('The 😇 is 🚜 and ➕®️'))
df = df[pd.notnull(df['Item Description'])] # no empty descriptions

df
# print(df.shape)
# print('Number of unique categories: ' + str(len(df.Category.unique())))

        Category Item Description  category_id
0       Services   😇 is 🚜 and ➕®️            0
1       Services   😇 is 🚜 and ➕®️            0
2       Services   😇 is 🚜 and ➕®️            0
3       Services   😇 is 🚜 and ➕®️            0
4       Services   😇 is 🚜 and ➕®️            0
...          ...              ...          ...
109585     Drugs   😇 is 🚜 and ➕®️            1
109586   Weapons   😇 is 🚜 and ➕®️           11
109587     Drugs   😇 is 🚜 and ➕®️            1
109588     Drugs   😇 is 🚜 and ➕®️            1
109589     Drugs   😇 is 🚜 and ➕®️            1

[109563 rows x 3 columns]

In [2]:
import pandas as pd
from string import punctuation
import re

def remove_normal_characters(text):
    text.encode('ascii', 'ignore').decode("utf-8")
    return re.sub(r'[^{}]+'.format(punctuation),'',text)

df = pd.read_csv('Structured_DataFrame_Main_Categories.csv', index_col=0)
df['Item Description'] = df['Item Description'].apply(lambda d: remove_normal_characters(str(d)))

df

        Category Item Description  category_id
0       Services           -$.$..            0
1       Services         ..!$:...            0
2       Services           ..-...            0
3       Services            >>>>.            0
4       Services     .(//.)!.....            0
...          ...              ...          ...
109585     Drugs       ....'""...            1
109586   Weapons           .'....           11
109587     Drugs      .#-.#.#....            1
109588     Drugs      .#-.#.#....            1
109589     Drugs         ()()....            1

[109563 rows x 3 columns]

In [7]:
s = 'The 😇 is 🚜 and ➕®️'
s_without = s.encode('ascii', 'ignore').decode("utf-8")
s_only = s.strip(s_without)
s_only

'😇 is 🚜 and ➕®️'